<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Parameters -->
    <param name="use_sim_time" value="true"/>

    <!-- Arguments -->
    <arg name="publish_static_tf" value="false"/>

    <!-- Input Topics -->
    <!--    <arg name="imu_topic_name"            default="/gt_box/ap20/imu" />-->
    <arg name="imu_topic_name" default="/gt_box/ap20/imu" />  # /gt_box/cpt7/imu/data_raw"/>
    <arg name="prism_position_topic_name" default="/gt_box/ap20/prism_position"/>
    <arg name="gnss_position_topic_name" default="/gt_box/cpt7/gps/fix"/>

    <!-- Graph -->
    <include file="$(find atn_position3_fuser)/launch/graph_no_urdf.launch" pass_all_args="true"/>

    <!-- Static TF Publisher -->
    <group if="$(arg publish_static_tf)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="cpt_to_prism_tf_publisher"
              args="0.303 -0.036 -0.296 3.142 0.0 -1.571 imu Prism"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="cpt_to_body_tf_publisher"
              args="0.0 0.0 0.0 0 0 0 body imu"/>
    </group>
</launch>