<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Parameters -->
    <arg name="use_sim_time" default="true"/>

    <!-- Arguments -->
    <arg name="publish_static_tf" value="false"/>
    <arg name="box_description" default="$(find box_model)/urdf/box/box.urdf.xacro"/>
    <arg name="run_estimator" default="true"/>
    <arg name="rviz_file_path" default="$(find atn_position3_fuser)/rviz/rviz_imuOdom.rviz"/>

    <!-- Input Topics -->
    <arg name="imu_topic_name" default="/gt_box/cpt7/offline_from_novatel_logs/imu"/> <!--  /gt_box/ap20/imu  /gt_box/cpt7/offline_from_novatel_logs/imu /gt_box/cpt7/imu/data_raw"/>-->
    <arg name="prism_position_topic_name" default="/gt_box/ap20/prism_position"/>
    <arg name="gnss_position_topic_name" default="/gt_box/cpt7/gps/fix"/>
    <arg name="gnss_offline_pose_topic_name" default="/gt_box/inertial_explorer/tc/odometry"/>

    <!-- Graph -->
    <include file="$(find atn_position3_fuser)/launch/position3_fuser.launch" if="$(arg run_estimator)"
             pass_all_args="true"/>

    <!-- Static TF Publisher -->
    <group if="$(arg publish_static_tf)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="cpt_to_prism_tf_publisher"
              args="0.303 -0.036 -0.296 3.142 0.0 -1.571 imu Prism"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="cpt_to_body_tf_publisher"
              args="0.0 0.0 0.0 0 0 0 body imu"/>
    </group>

</launch>