<?xml version="1.0" encoding="UTF-8"?>
<!--
     Launch file for position3_fuser node in offline replay mode for Grand Tour Box
     
     This file sets up the necessary components for fusing positioning data from multiple 
     sources (IMU, GNSS, Prism) for localization. It can be used with recorded data for
     offline processing and analysis.
-->
<launch>
          <!-- General Parameters -->
          <arg name="use_sim_time" default="true" doc="Use simulation time for replay"/>
          <arg name="run_estimator" default="true" doc="Enable the position fusion estimator"/>
          <arg name="description_name" default="boxi_description" />

          <!-- Visualization Parameters -->
          <arg name="run_rviz" value="true" doc="Launch RViz for visualization"/>
          <arg name="rviz_file_path" default="$(find atn_position3_fuser)/rviz/rviz_imuOdom.rviz" 
                     doc="Path to RViz configuration file"/>

          <!-- System Parameters -->
          <!-- <arg name="run_elevation_mapping" value="false" doc="Enable elevation mapping"/>
          <arg name="model" default="$(find box_model)/urdf/box/box.urdf.xacro" 
                     doc="Path to the URDF model of the box"/> -->

          <!-- Sensor Input Topic Names -->
          <arg name="imu_topic_name" 
                     default="/gt_box/cpt7/offline_from_novatel_logs/imu" 
                     doc="Topic for IMU data"/>
          <arg name="prism_position_topic_name" 
                     default="/gt_box/ap20/prism_position"
                     doc="Topic for prism position data"/>
          <arg name="gnss_offline_pose_topic_name" 
                     default="/gt_box/inertial_explorer/tc/odometry"
                     doc="Topic for GNSS offline pose data"/>

          <!-- Launch Position Fusion Estimator -->
          <include file="$(find atn_position3_fuser)/launch/position3_fuser.launch" if="$(arg run_estimator)"
                               pass_all_args="true">
                    <!-- All arguments from this file are passed to the included launch file -->
          </include>

         

</launch>
