<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Parameters -->
    <arg name="run_estimator" value="false"/>
    <arg name="elevation_mapping_parameter_file" default="$(dirname)/../config/elevation_mapping/offline_vlp16.yaml"/>
    <arg name="rviz_file_path" value="$(find anymal_estimator_graph)/rviz/gnss_lidar_offline.rviz"/>

    <!-- Call Replay Launch -->
    <include file="$(find anymal_estimator_graph)/launch/anymal_estimator_graph_replay.launch">
        <arg name="run_estimator" value="$(arg run_estimator)" />
        <arg name="elevation_mapping_parameter_file" value="$(arg elevation_mapping_parameter_file)" />
        <arg name="rviz_file_path" value="$(arg rviz_file_path)" />
    </include>
</launch>
