<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Parameters -->
    <arg name="use_sim_time" default="true"/>
    <param name="use_sim_time" value="$(arg use_sim_time)"/>

    <!-- GMSF Input Topics -->
    <arg name="imu_topic_name" default="/sensors/imu"/>
    <arg name="gnss_topic_name" default="/rtk_gps_driver/position_receiver_0/ros/navsatfix"/>
    <arg name="lidar_odometry_topic_name" default="/open3d_slam/scan2map_odometry"/>
    <arg name="vio_odometry_topic_name" default="/vio_odometry_topic"/>
    <arg name="vio_odometry_between_topic_name" default="/vio_odometry_between_topic"/>
    <arg name="legged_odometry_pose_topic_name" default="/state_estimator/pose_in_odom"/>
    <arg name="legged_odometry_odom_topic_name" default="/state_estimator/odometry"/>
    <arg name="legged_kinematics_topic_name" default="/state_estimator/anymal_state"/>

    <!-- Config -->
    <arg name="extrinsics_from_urdf" default="false"/>

    <!-- Config Files -->
    <arg name="core_graph_param_file"
         default="$(find anymal_estimator_graph)/config/core/core_graph_params_gnss.yaml"/>
    <arg name="anymal_graph_param_file"
         default="$(find anymal_estimator_graph)/config/anymal_specific/anymal_graph_params_gnss.yaml"/>
    <!-- GNSS Independent -->
    <arg name="core_graph_config_param_file"
         default="$(find anymal_estimator_graph)/config/core/core_graph_config.yaml"/>
    <arg name="core_extrinsic_param_file"
         default="$(find anymal_estimator_graph)/config/core/core_extrinsic_params.yaml"/>
    <arg name="anymal_extrinsic_param_file"
         default="$(find anymal_estimator_graph)/config/anymal_specific/anymal_extrinsic_params.yaml"/>
    <arg name="anymal_gnss_param_file"
         default="$(find anymal_estimator_graph)/config/anymal_specific/anymal_gnss_params.yaml"/>
    <arg name="anymal_traj_alignment_param_file"
         default="$(find anymal_estimator_graph)/config/anymal_specific/anymal_traj_align_params.yaml"/>

    <!-- Node -->
    <node pkg="anymal_estimator_graph" type="anymal_estimator_graph_node" name="anymal_estimator_node"
          output="screen"> <!--launch-prefix="gdb -ex run -args"-->
        <!-- Parameter files -->
        <rosparam command="load" file="$(arg core_graph_config_param_file)"/>
        <rosparam command="load" file="$(arg core_graph_param_file)"/>
        <rosparam command="load" file="$(arg core_extrinsic_param_file)"/>
        <rosparam command="load" file="$(arg anymal_graph_param_file)"/>
        <rosparam command="load" file="$(arg anymal_extrinsic_param_file)"/>
        <rosparam command="load" file="$(arg anymal_gnss_param_file)"/>
        <rosparam command="load" file="$(arg anymal_traj_alignment_param_file)"/>
        <!-- Remapping of topics -->
        <remap from="/imu_topic" to="$(arg imu_topic_name)"/>
        <remap from="/lidar_odometry_topic" to="$(arg lidar_odometry_topic_name)"/>
        <remap from="/gnss_topic" to="$(arg gnss_topic_name)"/>
        <remap from="/vio_odometry_topic" to="$(arg vio_odometry_topic_name)"/>
        <remap from="/vio_odometry_between_topic" to="$(arg vio_odometry_between_topic_name)"/>
        <remap from="/legged_odometry_pose_topic" to="$(arg legged_odometry_pose_topic_name)"/>
        <remap from="/legged_odometry_odom_topic" to="$(arg legged_odometry_odom_topic_name)"/>
        <remap from="/anymal_state_topic" to="$(arg legged_kinematics_topic_name)"/>
    </node>

</launch>
